body{
    background-color: #ededed;
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    user-select: none;
}

#lineChart, #pieChart, #barChart {
    max-width: 1000px;
    margin: auto;
    padding: 100px 0;
}

#lineChart, #pieChart {
    border-bottom: 1px solid rgba(20, 20, 20, 0.2);
}
